<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .submenu {
            display: none;
        }

        .submenu.show {
            display: table;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <a class="nav-link" href="/">Home</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="nav-link" href="#" data-toggle="submenu1">Submenu 1</a>
                                        <table class="table table-borderless submenu" id="submenu1">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="nav-link" href="/submenu1/child1">Submenu 1.1</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="nav-link" href="/submenu1/child2">Submenu 1.2</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="nav-link" href="#" data-toggle="submenu2">Submenu 2</a>
                                        <table class="table table-borderless submenu" id="submenu2">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="nav-link" href="/submenu2/child1">Submenu 2.1</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a class="nav-link" href="/submenu2/child2">Submenu 2.2</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </nav>
            </div>
            <div class="col-md-9">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var submenu1Toggle = document.querySelector('[data-toggle="submenu1"]');
            var submenu1 = document.getElementById('submenu1');

            var submenu2Toggle = document.querySelector('[data-toggle="submenu2"]');
            var submenu2 = document.getElementById('submenu2');

            submenu1Toggle.addEventListener('click', function (e) {
                e.preventDefault();
                submenu1.classList.toggle('show');
            });

            submenu2Toggle.addEventListener('click', function (e) {
                e.preventDefault();
                submenu2.classList.toggle('show');
            });
        });
    </script>
</body>
</html>